b

.list-color li:hover{
  background-color: #2a6496;

}


body{
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  background-color: #f2f2f2;
  color: #555;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;

  margin-top: 70px;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Raleway";
  font-weight: 300;
  color: #333;
}

p{
  line-height: 28px;
  margin-bottom: 25px;
}

.centered{
  text-align: center;
}

a{
  clolr: #f85c37;
}

a:hover, a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.navbar{
  font-weight: 800;
  font-size: 14px;
  padding-top:5px;
  padding-bottom: 5px;
}

.navbar-inverse {
  background: #2d2d2d;
  border-color: #2d2d2d;
}

.navbar-inverse .navbar-nav .active > a {
  border-color: #31b0d5;
}
.navbar-inverse .navbar-brand{
  color: #999;
  font-weight: bolder;
  font-size: 22px;
  letter-spacing: 1px ;
}

#headerwrap {
  background: url("../images/logo.jpg") no-repeat center top;


  text-align: center;
  background-attachment: relative;
  background-position: center;
  min-height: 350px;
  width: 100%;
}

#dg {
  background: #e0e0e0;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
}

#dg h4{
  font-size: 40px;
}

.tilt {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.tilt:hover {
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
}


.w {
  margin-top: 30px;
}

.w h4 {

  font-size: 28px;

}

.wb {
  padding-top: 35px;
  margin-bottom: 0;
}
.wb h4{
  font-size: 25px;
}

.left-menu {

  margin-bottom: 120px;
}

.left-menu a {
  /*color: #245269;*/
  color: #555555;
  text-decoration: none;
}

.left-menu li {
  list-style-type: none;
  font-size: 18px;
  border-bottom: 0.5px solid #e1edf7;
}
.left-menu li:hover {
  background-color: inherit;
}

#about .section-title {
  border-color: #e09d1a;
}

#about h2 {
  background-color: #e9b144;
}

li.about a {
  border-color: #e9b144;
}
li.about a:hover{

}

li.about a.active {
  color: #e9b144;
}

.section-content { padding: 0 7%;
  margin-bottom: 100px;
}

.section-title {
  border-top: 4px solid;
  margin-bottom: 60px;
}

.section-title h2 {
  display: inline-block;
  padding: 20px 35px;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0;
  font-size: 20px;
}

.main-menu, .responsive-menu ul, .social-member, .progess-bars, .first-footer .social-footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#main-sidebar {
  /*margin-top: -50px;*/
  float: left;
  width: 100%;
  height: 1670px;
  position: relative;
  background-color:#495054;

  color: white;
}

.logo {
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 40px 0;
  background-color: #38a9e3;
}
.logo a {
  color: white;
}

.logo  h2 {
  font-family: 'Exo 2.0 Semi Bold Italic';
  font-size: 25px;
  margin: 0;
  color: white;
  font-weight:400;
}

.logo span { color: #bee3f6; font-size: 13px; }





.main-menu { text-align: center; }
.main-menu li { margin-bottom: 1px; }

.main-menu li a {
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  display: block;
  border-left: 4px solid;
  padding: 15px 30px;
  background-color: #383e41;
  -webkit-transition: all 150ms ease-in; -moz-transition: all 150ms ease-in; -o-transition: all 150ms ease-in; transition: all 150ms ease-in;
}

.main-menu li a:hover {
  font-weight: 500;
  background-color: #34393b;
  text-decoration: none;
}

li.home a { border-color: #38a9e3; }
li.home a.active { color: #38a9e3; }



.content-box {
  padding-left: -20px;
  left: -20px;
  padding-left: 0;

  margin-left: 20px;
  min-height: 340px;
  border: 2px solid #c4c4c4 ;
  background-color: inherit;
}

.img-box {
  margin: 10px 0;
  text-align: left;
  float: left;
  min-height: 300px;
  /*border: 1px solid black;*/
}

.title_name {

  background-color: #34393b;
  height: 40px;
  color: #e1edf7;
  font-size: 18px;

}

.title_name p {
  padding: 8px;
  font-size: 26px;
  color: #e1edf7;
}

.lefted {
  text-align: left;
}

.title-genre {
  font-size: 18px;
}

.title-button a{
  color: #c7254e;
  font-weight: 700;
  font-size: 20px;
}
.series-list a {

  font-family: "Arial";
  font-size:22px;
  font-weight: 400;
  -moz-transition: color 0.3s 0.02s ease;
  -o-transition: color 0.3s 0.02s ease;
  -webkit-transition: color 0.3s 0.02s ease;
  color:#222;

}

.series-list a:hover {
  color: #1FA2E1;
  text-decoration: none;
}

.serial_name {
  height: 40px;
  background-color: #34393b;
}
.serial_name p {
  padding-top: 6px;
  font-size: 20px;
 color: #f9f9f9;
}

.serial_poster {
  margin: 50px 0;
}



.tftable {
  font-size:30px;
   width:100%;
}

.tftable th {
  font-size:30px;
  padding: 5px;
  text-align:left;
}

.tftable td {
  font-size:20px;
  border-width: 1px;
  padding: 5px;
}

.inform {


  text-align: left;
  padding-left: 20px;
 }

.inform p {
  padding-top: -120px;
}


.video-box {


  height: 400px;
  background-color: black;
}

.video{
 border: 20px solid black;
  margin: 50px 0;
}
.index_t_name {
margin-bottom: 20px;
}
.index_t_name p{
  padding-top: 5px;
font-size: 22px;
}

.main_video_box {
  overflow: hidden;
  border-bottom: 2px solid #5e5e5e;
  margin-bottom: 40px;
}

.main_video_box .title,
.main_video_box .logo_img {
  float: left;
  box-sizing: border-box;
}

.main_video_box .logo_img img {
  width: 203px;
}

.main_video_box .title {
  padding-left: 220px;
  margin-left: -220px;
  width: 100%;
}

.button7 {
  text-decoration: none;
  text-align: center;
  padding: 11px 32px;
  border: solid 1px #004F72;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font: 18px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #E5FFFF;
  background-color: #3BA4C7;
  background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
  background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
  background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
  background-image: -ms-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1982A5', endColorstr='#1982A5', GradientType=0);
  background-image: linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
  -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}

.button-link {
margin: 15px 25px 35px 0;
  float: right;
}

@media only screen and (max-width: 768px) {
  .main_video_box .logo_img img {
    width: 120px;
  }

  .main_video_box .title {
    padding-left: 130px;
    margin-left: -130px;
  }

}


